{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link href="{{ asset('css/auth.css') }}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.4.1/css/all.min.css">
{% endblock %}

{% block title %}Formulaire de créationn de compte{% endblock %}

{% block body %}
<body>
  <div class="main-block">
    <h1>Register</h1>
    <form method="post">
      <label id="icon" for="name"><i class="fas fa-user"></i></label>
      <input type="text" name="username" id="inputUsername" class="form-control" autocomplete="username" placeholder='username' required autofocus/>
      <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
      <input type="password" name="password" id="inputPassword" autocomplete="current-password" placeholder='password' required/>
      <div class="btn-block">
        <button type="submit">Register</button>
        <a href="{{ path('app_login')}}">Login</a>
      </div>
    </form>
  </div>
</body>
{% endblock %}
